# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\proyectos\goProjects\go-exercises\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
